/*background for website by white color*/
body{
		margin:0;
		padding:0;
		background:white;
	}
	/*To make a distance from the logo*/
	ul {
		padding:0;
		margin:0 0 0 150px;
		list-style:none;
	}
	/*put the the four button in the header to the left*/
	li{
		float:left;
	}
	/*Logo information in terms of location and size*/
	.logo img{
		position:absolute ;
		margin-top:0px;
		margin-left:0px; 
		width:100px; 
	}
	/*this is information about header in terms of size and color and some distance*/
	nav{
		width:100%; 
		overflow:hidden;
		text-align: center;
        padding: 6px;
        background-color: grey;
	}
	/*The properties of buttons*/
	nav a{
		width:100px;
		display:red;
		padding:20px 15px;
		text-decoration:none;
		font-family:Arial;
		color:#f2f2f2;
		text-align:center;
	}
	/*This appears color when you put the cursor on the buttons*/
	nav a:hover{
		background:purple;
		transition:0.5s;
		text-transform:uppercase; 
	}
	/*postion of SIGN IN AND SIGN UP*/
	le{
		float:right;
	}
/*infromation about footer in trems of color and postion of text*/
	footer {
  text-align: center;
  padding: 3px;
  background-color: grey;
  color: white;



